.info-card {
  position: absolute;
  height: 56vh;
  min-height: 300px;
  width: 350px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  background-color: white;
  border-radius: 15px;

  box-shadow: 3px 15px 15px rgba(black, 0.2);

  @media (min-width: $tabletSize) {
    width: 400px;

  }



  &__top {
    width: 100%;
    height: 38%;
    background-image: url("../../assets/img/bg-pattern-card.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }

  &__middle {
    position: relative;
    width: 100%;
    height: 40%;
    border-bottom: 0.5px solid $darkGrayishBlue;
  }

  &__name {
    position: absolute;
    bottom: 36%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;

  }

  &__age {
    font-weight: 400;
    color: $darkGrayishBlue;
    padding-left: 5px;
  }

  &__city {
    position: absolute;
    bottom: 18%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: $darkGrayishBlue;
  }

  &__bottom {
    width: 100%;
    height: 22%;
  }

  &__photo {
    position: absolute;
    width: 95px;
    height: 95px;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;

  }

  &__img-photo {
    display: block;
    max-height: 100%;
    max-width: 100%;
  }


  .statistics {
    display: flex;
    align-content: center;
    justify-content: center;


    &__paragraph {
      flex-basis: 33%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

         }

    &__number {
      flex-basis: 100%;
      font-size: 15px;
      padding: 25px 0 0 0;
      text-align: center;

    }

    &__description {
      flex-basis: 100%;

      padding: 5px 5px 5px 10px;

      font-size: 10px;
      text-align: center;

      color: $darkGrayishBlue;
      letter-spacing: 1px;


    }
  }

}




