.rangeslider {
  position: relative;
  display: block;
  cursor: pointer;
  height: 25px;
  width: 100%;
}
.rangeslider__fill,
.rangeslider__fill__bg {
  display: block;
  position: absolute;
  top: 50%;
  height: 10px;
  z-index: 2;
  background: hsl(174, 77%, 80%);
  border-radius: 10px;
  will-change: width;
}
.rangeslider__handle {
  will-change: width, height, top;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 70%;

  background: url("../../assets/img/icon-slider.svg"), hsl(174, 86%, 45%);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 28px 28px rgba(hsl(174, 86%, 65%), 1);
  display: inline-block;
  z-index: 3;
  cursor: pointer;

  border-radius: 50%;
  -webkit-transition: width 0.1s ease-in-out, height 0.1s ease-in-out, top 0.1s ease-in-out;
  transition: width 0.1s ease-in-out, height 0.1s ease-in-out, top 0.1s ease-in-out;
}
.rangeslider__handle:active {
  background: url("../../assets/img/icon-slider.svg"), hsl(174, 86%, 35%);
  background-repeat: no-repeat;
  background-position: center;
}
.rangeslider__fill__bg {
  background: hsl(224, 65%, 95%);
  width: 100%;
}
.rangeslider--disabled {
  opacity: 0.4;
}


//&__input1 {
//  -webkit-appearance: none;
//  appearance: none;
//  width: 100%;
//  height: 10px;
//  border-radius: 5px;
//  border: 0;
//  background-color: lightgray;
//  outline: none;
//
//  cursor: pointer;
//
//  &::-webkit-slider-thumb {
//    -webkit-appearance: none;
//    appearance: none;
//    width: 40px;
//    height: 40px;
//    border-radius: 50%;
//    border: hsl(174, 86%, 45%) solid 2px;
//    background-color: hsl(174, 86%, 45%);
//    background: url("../../assets/img/icon-slider.svg");
//    background-repeat: no-repeat;
//    background-position: center;
//    //background-size: 100%;
//    box-shadow: 0px 25px 25px rgba(hsl(174, 77%, 80%), 1);
//
//    cursor: pointer;
//  }

//}