* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}


.www {
  padding: 20px 0;
  min-height: 100vh;
  background: rgb(112,113,115);
  background: repeating-linear-gradient(0deg, rgba(112,113,115,1) 0%, rgba(33,33,34,1) 32%, rgba(170,170,175,1) 79%, rgba(87,92,99,1) 100%);
}



.together-projects {

  width: 80%;
  max-width: 900px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  background-color: white;
  opacity: 0.9;
  border-radius: 20px;
  box-shadow: 3px 15px 15px rgba(black, 0.2);
  padding: 15px;

  &__projects {
    flex-basis: 90%;
    height: 60vh;
    padding-bottom: 25px;

       }

  &__projects-img {
    position: relative;

    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 3px 15px 15px rgba(black, 0.2);

    &--project1 {
      background-image: url("../assets/img/project1-mobile-design.jpg");
    }
    &--project2 {
      background-image: url("../assets/img/project2-mobile-design.jpg");
    }
    &--project3 {
      background-image: url("../assets/img/project1-mobile-design.jpg");
    }

  }

  &__projects-link {
    width: 100%;
    height: 80px;

    position: absolute;
    top: 70%;
    left: 0;

    display: block;
    border: 2px solid black;
    background-color: rgba(black, 0.8);

    font-size: 30px;
    font-family: Arial;
    text-decoration: none;
    line-height: 80px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;

    cursor: pointer;


     }
}